body {
    margin: 0;
    padding: 0;
}
div {
    background: yellowgreen;
    width: 200px;
    height: 50px;
}
span {
    background: tomato;
    /* 인라인 요소는 사이즈 조절 불가능 */
    width: 200px;
    height: 150px;
}